html {
    background-color: #d8ccb4;
}
.title {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
}

.grid {
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 500px;
    width: 500px;
}

.row {
    border: 1px solid black;
    margin: 0px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
}

.column {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
}

.reset {
    display: flex;
    justify-content: space-around;
    margin: 52px auto;
}

